.naviBar {
    display:flex;
    list-style-type: none;
    margin: 50px;
    padding: 50px;
    justify-content: flex-end;
    flex-direction: row;
 }
 
 li {
    float: left;
 }
 
 a {
    display: block;
    padding: 8px;
    background-color: red;
    border-style: solid;
    border-width: 2px;
    border-color: black;
 }
 
 .main {
     background-image: url("backimage.jpeg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    display:flex;
    flex-direction: column;
    background-size: cover;
 }
 

 
 img {
        max-width: 100px;
        max-height: 100px;
        width: auto;
        height: auto;
        display: block;

 }

 .card {
     display:flex;
     flex-direction: column;
     border: 2px solid red;
     background: white;
     font-family: fantasy;
     width: 33%


     
 }
 #players {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}
